.login-cont{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-head{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.label-text{
    color: #b8b6b6;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.input-container{
    height: 25px;
    width: 200px;
    padding: 5px 16px 5px 8px;
    color: #828282;
    font-size: 15px;
    font-family: "Roboto";
    margin-bottom: 10px;
}
.login-btn{
    background-color: #f743a6;
    color: white;
    height: 35px;
    width: 230px;
    border-radius: 8px;
    border-width: 0px;
    margin-top: 10px;
}
.app-header{
    color: #0294ab;
    font-family: "slab-serif";
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 10px;
}